@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300&display=swap');
.Yams {
  button {
    font-size: 24px;
    padding: 12px 24px;
    margin: 0 8px;
    background: none;
    border: 2px solid var(--secondary-color);
    color: var(--primary-color);
    border-radius: 12px;

    &:hover {
      background: var(--tertiary-color);
      cursor: pointer;
    }
  }

  .header, .results {
    text-align: center;
  }

  .header {
    font-family: 'Londrina Solid', sans-serif;
    font-size: 24px;
    color: rgb(247, 145, 116);
    margin-bottom: 32px;

    * {
      margin: 0;
    }

    h1 {
      font-size: 72px;
    }
  }

  .yam-image {
    display: block;
    margin: auto;
    width: 50%;
    margin-bottom: 32px;
  }

  .results {
    margin-bottom: 64px;
  }

}

.Question {
  margin-bottom: 64px;

  h3 {
    font-weight: 500;
  }

  .row {
    display: flex;

    button {
      flex-grow: 1;

      &.selected {
        border-color: rgb(247, 145, 116);
        background: rgba(247, 145, 116, 0.1);
      }

      &.correct {
        border-color: rgb(107, 217, 98);
        background: rgba(107, 217, 98, 0.1);
      }

      &.incorrect {
        border-color: rgb(230, 93, 81);
        background: rgba(230, 93, 81, 0.1);
      }
    }
  }
}
