.Yams {
  .header {
    text-align: center;
  }
}

.Question {
  margin-bottom: 64px;

  h3 {
    font-weight: 500;
  }

  .row {
    display: flex;

    button {
      flex-grow: 1;
      background: none;
      font-size: 24px;
      padding: 12px 24px;
      margin: 0 8px;
      border: 2px solid rgba(0, 0, 0, 0.3);
      border-radius: 12px;

      &:hover {
        background: rgba(0, 0, 0, 0.05);
        cursor: pointer;
      }

      &.selected {
        border-color: rgb(247, 145, 116);
        background: rgba(247, 145, 116, 0.1);
      }

      &.correct {
        border-color: rgb(107, 217, 98);
        background: rgba(107, 217, 98, 0.1);
      }

      &.incorrect {
        border-color: rgb(230, 93, 81);
        background: rgba(230, 93, 81, 0.1);
      }
    }
  }
}
