@mixin light {
  body {
    --background-color: white;
    --primary-color: black;
    --secondary-color: rgba(0, 0, 0, 0.3);
    --tertiary-color: rgba(0, 0, 0, 0.05);
  }
}

@mixin dark {
  body {
    --background-color: rgb(13, 17, 23);
    --primary-color: rgba(255, 255, 255, 0.7);
    --secondary-color: rgba(255, 255, 255, 0.3);
    --tertiary-color: rgba(255, 255, 255, 0.05);
  }
}

body {
  --yam-color: 247, 145, 116;
  --yam-color-primary: rgb(var(--yam-color));
  --yam-color-secondary: rgba(var(--yam-color), 0.1);

  --correct-color: 107, 217, 98;
  --correct-color-primary: rgb(var(--correct-color));
  --correct-color-secondary: rgba(var(--correct-color), 0.1);

  --incorrect-color: 230, 93, 81;
  --incorrect-color-primary: rgb(var(--incorrect-color));
  --incorrect-color-secondary: rgba(var(--incorrect-color), 0.1);

}

@media (prefers-color-scheme: light) {
  @include light;

  html.dark {
    @include dark;
  }
}


@media (prefers-color-scheme: dark) {
  @include dark;

  html.light {
    @include light;
  }
}
