@mixin light {
  body {
    --background-color: white;
    --primary-color: black;
    --secondary-color: rgba(0, 0, 0, 0.3);
    --tertiary-color: rgba(0, 0, 0, 0.05);
  }
}

@mixin dark {
  body {
    --background-color: rgb(13, 17, 23);
    --primary-color: rgba(255, 255, 255, 0.7);
    --secondary-color: rgba(255, 255, 255, 0.3);
    --tertiary-color: rgba(255, 255, 255, 0.05);
  }
}

@media (prefers-color-scheme: light) {
  @include light;

  html.dark {
    @include dark;
  }
}


@media (prefers-color-scheme: dark) {
  @include dark;

  html.light {
    @include light;
  }
}
