.App {
  button {
    font-size: 24px;
    padding: 12px 24px;
    margin: 0 8px;
    background: none;
    border: 2px solid var(--foreground-color-secondary);
    color: var(--foreground-color-primary);
    border-radius: 12px;

    // The "&" symbol is a special Sass construct that refers to
    // the parent item. So in this case &:hover means the same
    // thing as button:hover (but makes the intent more clear).
    &:hover {
      background: var(--foreground-color-tertiary);
      cursor: pointer;
    }
  }

  .header, .results {
    text-align: center;
  }

  .header {
    font-family: 'Londrina Solid', sans-serif;
    font-size: 24px;
    color: var(--yam-color-primary);
    margin-bottom: 64px;

    * {
      margin: 0;
    }

    h1 {
      font-size: 72px;
    }
  }

  .yam-image {
    display: block;
    margin: auto;
    width: 50%;
    margin-bottom: 64px;
    cursor: pointer;
  }

  .results {
    margin-bottom: 64px;
  }

}

.Question {
  margin-bottom: 64px;

  h3 {
    font-weight: 500;
  }

  .row {
    display: flex;

    button {
      flex-grow: 1;

      &.selected {
        border-color: var(--yam-color-primary);
        background: var(--yam-color-secondary);
      }

      &.correct {
        border-color: var(--correct-color-primary);
        background: var(--correct-color-secondary);
      }

      &.incorrect {
        border-color: var(--incorrect-color-primary);
        background: var(--incorrect-color-secondary);
      }
    }
  }
}
