h1 {
  font-size: 72px;
}

h3 {
  font-weight: 500;
}

button {
  flex-grow: 1;
  font-size: 24px;
  padding: 12px 24px;
  margin: 0 8px;
  background: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgb(0, 0, 0);
  border-radius: 12px;
}

button:hover {
  background: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

button.selected {
  border-color: rgb(247, 145, 116);
  background: rgba(247, 145, 116, 0.1);
}

button.correct {
  border-color: rgb(107, 217, 98);
  background: rgba(107, 217, 98, 0.1);
}

button.incorrect {
  border-color: rgb(230, 93, 81);
  background: rgba(230, 93, 81, 0.1);
}

.header {
  text-align: center;
  font-family: 'Londrina Solid', sans-serif;
  font-size: 24px;
  color: rgb(247, 145, 116);
  margin-bottom: 64px;
}

.header * {
  margin: 0;
}

.yam-image {
  display: block;
  margin: auto;
  width: 50%;
  margin-bottom: 64px;
}

.Question {
  margin-bottom: 64px;
}

.row {
  display: flex;
}

.results {
  text-align: center;
}
